DATABASE_URL="postgresql://postgres:password@localhost:5432/loyalty_saas"
NODE_ENV="development"
API_PORT=3001
WEB_URL="http://localhost:3000"
API_URL="http://localhost:3001"
JWT_SECRET="cambia-esto-en-produccion-minimo-32-chars"
JWT_EXPIRES_IN="7d"
SUPER_ADMIN_EMAIL="admin@loyaltysaas.com"
SUPER_ADMIN_PASSWORD="superadmin123"
GOOGLE_WALLET_MOCK=true
GOOGLE_WALLET_ISSUER_ID=""
GOOGLE_WALLET_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_WALLET_SERVICE_ACCOUNT_PRIVATE_KEY=""
APPLE_WALLET_MOCK=true
APPLE_PASS_TYPE_ID="pass.com.tuempresa.loyalty"
APPLE_TEAM_ID=""
APPLE_WWDR_CERT_BASE64=""
APPLE_PASS_CERT_BASE64=""
APPLE_PASS_KEY_BASE64=""
APPLE_PASS_KEY_PASSPHRASE=""
APPLE_APN_KEY_BASE64=""
APPLE_APN_KEY_ID=""
